<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>-Tennis Club - All members</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    {% extends "master.html" %} {% block title %} My Tennis Club - List of all
    members {% endblock %} {% block content %}
    <h1>Members</h1>
    <p><a href="/">HOME</a></p>
    <ul>
      {% for member in data %}
      <li>
        <a href="/members/details/{{ member.id }}"
          >{{ member.firstname }} {{ member.lastname }}</a
        >
      </li>
      {% endfor %}
    </ul>
    {% endblock %}
  </body>
</html>
